@use "theme" as *;

osd-window {
    background-color: transparent;
    background: none;
    margin-bottom: 30px;
}

osd-device-name {
    color: $overlay1;
    font-size: 22px;
    font-weight: 800;
    margin-right: 10px;
}

osd-box {
    background-color: $base;
    border-radius: 99px;
    padding: 20px;
    border: 2px solid $surface0;
}

osd-box-icon {
    color: $overlay0;
    margin-right: 10px;
}

osd-box-label {
    background-color: $crust;
    padding: 4px;
    border-radius: $border-radius;
    min-width: 60px;
    color: $overlay0;
    font-weight: 600;
    margin-right: 10px;
}

osd-box levelbar {
    min-width: 200px;

    >trough {
        background-color: $crust;
        border-radius: $border-radius;
    }

    >trough block {
        background-color: $accent-background-transparent;
        border-radius: $border-radius;
        border: 2px solid $base;
    }

    >trough block.low {
        background-color: $green;
    }

    >trough block.high {
        background-color: $peach;
    }

    >trough block.full {
        background-color: $red;
    }

    >trough block.empty {
        background-color: transparent;
    }

}