@use "theme" as *;

modules-left-container {
  background-color: $base-transparent;
  border: 2px solid $base;
  min-width: 500px;
  min-height: 840px;
  padding: 40px;
  border-radius: $border-radius;
}

bar-launcher-component {
  background-color: transparent;
  background: none;
  padding: 4px;
}

launcher-button {
  background-color: $overlay0;
  padding-left: 20px;
  border-radius: $border-radius;
}

app-item {
  padding: 10px;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

app-item:hover {
  background-color: $accent-background-transparent;
  color: $accent-foreground;
  border-radius: $border-radius;
}

app-icon-wrapper {
  background-color: $border;
  border-radius: $border-radius;
  min-width: 64px;
  min-height: 64px;
  padding: 0px;
}

app-icon {
  -gtk-icon-size: 64px;
  margin: 0;
}

app-name {
  margin-left: 20px;
  font-size: 22px;
}

/* In your .css file */
scrollbar {
  opacity: 0;
}

/* Or just the trough/slider */
scrollbar trough,
scrollbar slider {
  min-width: 0;
  min-height: 0;
}

search-entry {
  min-height: 60px;
  background-color: $crust-transparent;
  color: $overlay0;
  padding-left: 40px;
  border-radius: $border-radius;
  border: 2px solid $base;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 800;
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

search-entry:hover {
  border-color: $accent-background-transparent;
}
