@use "theme" as *;

audio-icon {
    min-width: 64px;
    min-height: 64px;
    color: $overlay0;
}

audio-percent {
    color:$overlay0;
    background-color: $mantle-transparent;
    border: 1px solid $base;
    border-radius: $border-radius;
    min-width: 65px;
    min-height: 55px;
}