@use "theme" as *;

modules-right-container {
  background-color: $base-transparent;
  border: 2px solid $base;
  min-width: 500px;
  min-height: 840px;
  border-radius: $border-radius;
}

app-launcher-background-right{
  background-color: $lavender;
  border-radius: $border-radius;
}


system-info-pill-container {
  margin: 20px;
  padding: 20px;
  background-color: $mantle-transparent;
  border-radius: $border-radius;
  border: 2px solid $base;
}