@use "theme" as *;

modules-right-container {
  background-color: $base-transparent;
  border: 2px solid $border;
  min-width: 500px;
  min-height: 840px;
  padding: 40px;
  border-radius: $border-radius;
}