@use "theme" as *;

modules-right-container {
  background-color: $base-transparent;
  border: 2px solid $base;
  min-width: 500px;
  min-height: 840px;
  padding: 40px;
  border-radius: $border-radius;
}

system-info-pill-container {
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $mantle;
  border-radius: $border-radius;
  border: 2px solid $base;
}