@use "theme" as *;

modules-center-container {
  background-color: $base-transparent;
  border: 2px solid $surface1-transparent;
  border-radius: $border-radius;
  min-width: 500px;
  min-height: 840px;
  padding: 40px;
}

/* Clock */

date-time-container {
  background: none;
  background-color: transparent;
}

bar-time,
bar-date {
  background: $base-transparent;
  border: 2px solid $overlay0;
  border-radius: $border-radius;
  font-weight: 600;
  color: $white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -6px;
  margin-bottom: -8px;
}

bar-separator {
  color: $white;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 10px;
}

time-container {
  background-color: transparent;
  margin-bottom: 40px;
}

local-clock-hours,
local-clock-minutes {
  color: $accent-foreground;
  padding: 10px;
  font-size: 48px;
  font-weight: bold;
  border-radius: $border-radius;
  min-width: 60px;
}

local-clock-hours {
  background-color: $mantle-transparent;
  border: 1px solid $surface0-transparent;
  color: $overlay0;
  margin-bottom: 10px;
}

local-clock-minutes {
  background-color: $accent-background-transparent;
  border: 2px solid $mantle-transparent;
}

world-clock-panel {
  background-color: $crust-transparent;
  border: 2px solid $surface0-transparent;
  border-radius: $border-radius;
  margin-left: 40px;
  margin-right: -30px;
  padding: 10px;
  min-width: 450px;
}

world-clock-name,
world-clock-time,
world-clock-date {
  font-weight: bold;
  padding: 10px;
  min-width: 100px;
}

world-clock-time,
world-clock-date {
  color: $overlay0
}

world-clock-name {
  color: $surface0
}

/* Calendar */

detail-calendar {
  background-color: $crust-transparent;
  border: 1px solid $surface0-transparent;
  border-radius: $border-radius;
  padding: 20px;
}

detail-calendar .day-name {
  color: $overlay0;
  font-weight: 600;
  min-width: 50px;
}

/* Style the current day */
detail-calendar .today {
  color: $accent-foreground;
  background-color: $accent-background-transparent;
  border-radius: $border-radius;
  font-weight: bold;
}

/* Style days from other months */
detail-calendar .other-month {
  color: $surface0;
}

/* Style the header (month/year switcher) */
detail-calendar header {
  background-color: transparent;
  color: $overlay0;
  padding-bottom: 20px;
  border-bottom: 1px solid $base;
}

/* Days */
detail-calendar grid label {
  color: $overlay0;
  font-size: 22px;
  background-color: transparent;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;

  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Highlight days*/
detail-calendar grid label:hover {
  background-color: $hover-background;
  color: $hover-foreground;
  font-weight: 600;
  border-radius: $border-radius;
}