@use "theme" as *;

wallpaper-container {
    padding: 20px;
}

wallpaper-thumbnail {
    background-color: $mantle-transparent;
    border-radius: $border-radius;
    border: 1px solid $overlay0;
    padding: 10px;
}

wallpaper-thumbnail label {
    font-size: 14px;
    font-weight: 600;
    background-color: transparent;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
    color: $overlay0;
    margin: 5px;
    padding: 10px;
    border-radius: $border-radius;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}