@use "theme" as *;

window.Bar {

  font-family: "Inter", "JetBrainsMono Nerd Font Propo", "Noto Sans CJK JP", "Noto Sans CJK KR";
  font-size: 18px;

  background: $base-transparent;
  color: $text;
  border-radius: 99px;
  border-bottom: 2px solid $base;

  >bar {
    background: transparent;
    margin: 0px;
    min-height: 40px;
  }


  button {
    border-radius: 8px;
    margin: 2px;
  }
}




