@use "theme" as *;

battery-bar trough {
    border-radius: $border-radius;
    padding: 2px;
    background-color: #202020;
}

battery-bar trough block.filled {
    border-radius: $border-radius;
    background-color: $green;
}