@use "theme" as *;

weather-container {
  background-color: $base-transparent;
  border-radius: $border-radius;
}

bar-weather {
  font-weight: 600;
  color: $white;
  padding-left: 0px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: -8px;
  margin-bottom: -8px;
}

bar-weather-icon {
  color: $white;
}

bar-weather-temperature {
  color: $white;
}

detail-weather-icon {
  color: $overlay0;
  font-size: 32px;
}

detail-weather-temp {
  color: $overlay0;
  font-size: 32px;
}

detail-weather-details-label {
  color: $overlay0;
  min-width: 160px;
  font-size: 16px;
}

detail-weather-details-value {
  color: $overlay0;
  background-color: $mantle-transparent;
  min-width: 100px;
  padding: 10px;
  font-size: 16px;
  border-radius: $border-radius;
}