@use "theme" as *;

launcher-detail-container {
  background-color: $base-transparent;
  border: 2px solid $border;
  min-width: 500px;
  min-height: 800px;
  padding: 40px;
  border-radius: $border-radius;
}

bar-launcher-component {
  background-color: transparent;
  background: none;
  padding: 4px;
}

launcher-button {
  padding-left: 20px;
  border-radius: $border-radius;
}

app-item {
  padding: 10px;
}

app-item:hover{
  background-color: $accent-background-transparent;
  border-radius: $border-radius;
}

app-icon-wrapper {
  background-color: $border;
  border-radius: $border-radius;
  min-width: 64px;
  min-height: 64px;
  padding: 0px;
}

app-icon {
  -gtk-icon-size: 64px;
  margin: 0;
}

app-name {
  margin-left: 20px;
  font-size: 22px;
}

/* In your .css file */
scrollbar {
  opacity: 0;
}

/* Or just the trough/slider */
scrollbar trough,
scrollbar slider {
  min-width: 0;
  min-height: 0;
}

search-entry {
  min-height: 60px;
  background-color: $crust-transparent;
  color: $overlay0;
  padding-left: 40px;
  border-radius: $border-radius;
  border: 2px solid $border;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 800;
}