/*
* Latte-Mocha
*/

$border-radius: 15px;

$base-transparent: rgba(26, 27, 38, 0.9);
$base: #1e1e2e;

$mantle-transparent: rgba(24, 24, 37, 0.9);
$mantle: #181825;

$crust-transparent: rgba(17, 17, 27, 0.5);
$crust: #11111b;

$accent-background: #fe640b;
$accent-background-transparent: rgba(254, 100, 11, 0.9);
$accent-foreground: #191414;

$border: #414868;
$hover-background: #9aa5ce;
$hover-foreground: #1a1b26;

$text: #cad3f5;
$subtext0: #a6adc8;
$subtext1: #bac2de;

$surface0: #313244;
$surface1: #45475a;
$surface1-transparent: rgba(69, 71, 90, 0.3);
$surface2: #585b70;

$overlay0: #6c7086;
$overlay1: #7f849c;
$overlay2: #9399b2;

$blue: #1e66f5;
$lavender: #7287fd;
$sapphire: #209fb5;
$sky: #04a5e5;
$teal: #179299;
$green: #40a02b;
$yellow: #df8e1d;
$peach: #fe640b;
$maroon: #e64553;
$red: #d20f39;
$mauve: #8839ef;
$pink: #ea76cb;
$flamingo: #dd7878;
$rosewater: #dc8a78;

$magenta: #8839ef;
$cyan: #179299;
$white: #bac2de;
$black: #313244;
