/*
* Latte-Mocha
*/

$border-radius: 15px;

$border: #414868;

$hover-background: #9aa5ce;
$hover-foreground: #1a1b26;

$text: #cdd6f4;
$subtext0: #a6adc8;
$subtext1: #bac2de;

$accent-background: #04a5e5;
$accent-background-transparent: #04a5e5fa;

$accent-foreground: #11111b;

$base: #1e1e2e;
$base-transparent: #1e1e2ee0;

$mantle: #181825;
$mantle-transparent: #181825f2;

$crust: #11111b;
$crust-transparent: #11111bf2;

$surface0: #313244;
$surface0-transparent: #313244fa;

$surface1: #45475a;
$surface1-transparent: #45475afa;

$surface2: #585b70;
$surface2-transparent: #585b70fa;

$overlay0: #6c7086;
$overlay0-transparent: #6c7086fa;

$overlay1: #7f849c;
$overlay1-transparent: #7f849cfa;

$overlay2: #9399b2;
$overlay2-transparent: #9399b2fa;

$blue: #1e66f5;
$lavender: #7287fd;
$sapphire: #209fb5;
$sky: #04a5e5;
$teal: #179299;
$green: #40a02b;
$yellow: #df8e1d;
$peach: #fe640b;
$maroon: #e64553;
$red: #d20f39;
$mauve: #8839ef;
$pink: #ea76cb;
$flamingo: #dd7878;
$rosewater: #dc8a78;

$magenta: #8839ef;
$cyan: #179299;
$white: #bac2de;
$black: #11111b;